/*Burguer Style*/    


    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        background-color: white;
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        background-color: white;
    }
        
    /*<!--Top Down Menu Style-->*/


     .topnav {
        height: 0%;
        width: 100%;
        position: fixed;

        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        opacity: 1;

        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }    

    .topnav .content{
        position: relative;
        top: 25%;
        width: 100%;
        font-size: 36px;
        text-align: center;
        margin-top: 30px;
    }
    .topnav .a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 200px;
        color: rgb(0,0,0);
        display: block;
        transition: 1s;
    }
    .topnav a:hover {
        color: #f1f1f1;
    }

    .topnav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
    }
     
    /*<!--Loader Icon-->*/
    
    .loader {
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid blue;
      border-bottom: 10px solid blue;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    /*<!--This is important to footer dont cover text-->*/
    
    body { padding-bottom: 70px; }
    