<!--<link rel="stylesheet" type="text/css" href="SiteFolder/Css/ContactPage.css">-->
<style>
    
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        padding-top: 1%;
    }

    h1 ,h2{
        /*text-decoration: underline;*/
        border-bottom: 1px solid #aaa;
        padding-bottom: 10px;
        
    }

    /*h2{
        padding-top: 5%;
    }*/
    p {
        font-size: 1.5em;
        text-align: justify;
    }
    .blog_li_index{
        font-size: 1.5em;
        padding-top: 1%;
        color: cornflowerblue;
        cursor: pointer;
        
    }
    .blog_li_index:hover{
        text-decoration: underline
    }
    .blog_li{
        font-size: 1.5em;
    }
    
    #page_body {
        padding-top: 5%;
    }
    xmp{
        font-size: 1.7em;
    }
    /* Ripple effect */
    .ripple {
      border: none;
      border-radius: 5px;
      text-align: center;    
      padding: 12px 18px;
      font-size: 1.5em;
      text-transform: uppercase;
      cursor: pointer;
      color: white;
      background-color: rgb(100,100,100,0.8);
      box-shadow: 0 0 4px rgb(50,50,50,0.8);
      outline: none;    
      background-position: center;
      transition: background 0.8s;
    }
    .ripple:hover {
      background: #47a7f5 radial-gradient(circle, transparent 1%, white 1%) center/15000%;
    }
    .ripple:active {
      background-color: rgb(100,100,100,0.8);
      background-size: 100%;
      transition: background 0s;
    }


</style>
<div style="padding-top: 5%">
    <button type="button" id="hide_show_index_btn" class="btn btn-outline-secondary" style="font-size: 2em;">Hide/Show Index</button>
    <div id="blog_index" style="display: none">
        <!--Index will be created here!-->
    </div>
</div>
<div id="blog_body">
    <!--Content Here!-->
</div>
<div>
    <!-- begin wwww.htmlcommentbox.com -->
    <div id="HCB_comment_box" style="padding-top: 5%;padding-bottom: 5%;">
        <a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript" id="hcb">
        /*<!--*/
        if (!window.hcb_user) {
            hcb_user = {};
        }(function() {
            var s = document.createElement("script"),
                l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"),
                h = "https://www.htmlcommentbox.com";
            s.setAttribute("type", "text/javascript");
            s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%2447ipUA8n%2FvfvjRMuzpc77%2F" + "&opts=16862&num=10&ts=1556213103497");
            if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
        })(); /*-->*/

    </script>
    <!-- end www.htmlcommentbox.com -->
</div>

<script>
    var script_el = document.createElement("script")
    script_el.src = 'SiteFolder/Js/BlogTemplate.js'
    document.body.appendChild(script_el)

</script>
