<!--<link rel="stylesheet" type="text/css" href="SiteFolder/Css/ContactPage.css">-->
<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        padding-top: 1%;
    }

    h1 {
        text-decoration: underline;
    }

    /*h2{
        padding-top: 5%;
    }*/
    p {
        font-size: 1.5em;
        text-align: justify;
    }

    #page_body {
        padding-top: 5%;
    }

</style>
<div id="page_body">
    <button type="button" id="hide_show_index_btn" class="btn btn-outline-secondary" style="font-size: 2em;">Hide/Show Index</button>
    <div id="blog_index" style="display: none">
        <!--<ul>
            <li>
                <a href="#Page Templates">sss</a>
                <ul>
                    <li>uusdnds</li>
                </ul>
            </li>
            <li>dddd</li>
        </ul>-->
    </div>
    <h1>Page Templates</h1>
    <h2>Bla</h2>
    <p>
        csdjcs dcj sdoicj sdoc isodcksdlc sdsdcsc
        dcsdcsdcsdcsd sdcsd
    </p>
    <h2>SHA</h2>
    <p>dssdfdfsd f sdf sdf ew fwef wef wef wef wefwefwef wefwef wef wef we f ewfwgrth yjtrh th ergerg erg er geg er ger ger ge rg er</p>
    <div>
        <!-- begin wwww.htmlcommentbox.com -->
        <div id="HCB_comment_box" style="padding-top: 10%;padding-bottom: 5%;">
            <a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
        <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
        <script type="text/javascript" id="hcb">
            /*<!--*/
            if (!window.hcb_user) {
                hcb_user = {};
            }(function() {
                var s = document.createElement("script"),
                    l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"),
                    h = "https://www.htmlcommentbox.com";
                s.setAttribute("type", "text/javascript");
                s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%2447ipUA8n%2FvfvjRMuzpc77%2F" + "&opts=16862&num=10&ts=1556213103497");
                if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
            })(); /*-->*/

        </script>
        <!-- end www.htmlcommentbox.com -->
    </div>
</div>

<script>
    //Create Index for page
    //var hide_show_index_btn=document.getElementById("hide_show_index_btn")
    $("#hide_show_index_btn").click(() => {
        $("#blog_index").toggle("fast")
    })
    
    function createIndex(index) {
        html = ""
        html
        index.innerHTML = html
    }
    let page_body = document.getElementById("page_body")
    let elements = Array.from(page_body.children)
    let index = document.getElementById("blog_index")
    var hs = {
        "H1": "H1",
        "H2": "H2",
        "H3": "H3",
        "H4": "H4",
        "H5": "H5",
        "H6": "H6"
    }
    elements.filter(el=>hs[el.nodeName]!=null).forEach(el => {

        console.log(el.nodeName)
        el.setAttribute("id", el.innerText.replaceAll(" ","-"))


    })

</script>
