<!DOCTYPE html>
<html>
<head>

    <style>
        h1 {
            font-size: 2.5em;

        }

        p {
            font-size: 1.5em;
            text-align: justify;
            /*text-indent: 5%;*/
        }

        .page_body {
            padding-top: 5%;

        }
    </style>

</head>

<body>

    <div id="project_body" class="page_body" align="center">

        <!--<h1>Dash Game Description:</h1>
        <br>
        <p>Dash Game is a survival game, where the player tries to avoid evil squares for the most time possible.</p>
        <p> The game is also playable on mobile (better in Chrome!).</p>
        <p>Below there is a live demo, source code and a small video of the game.</p>

        <br><br>
        <a href="https://secretid2.github.io/Projects/DashGame/DashGame.html">
            <button type="button" class="btn btn-default btn-lg" style="font-size: 2em;">Live Demo</button>
        </a>
        <br><br><br>
        <a href="https://github.com/LuisCristovao/DashGame">
            <button type="button" class="btn btn-default btn-lg" style="font-size: 2em;">Source Code</button>
        </a>
        <br><br><br>
        <iframe width="70%" height="250px" src="https://www.youtube.com/embed/0mpLcbj-eVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->


    </div>
    <!-- begin wwww.htmlcommentbox.com -->
    <div id="HCB_comment_box" style="padding-top: 10%;padding-bottom: 5%;">
        <a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript" id="hcb">
        /*<!--*/
        if (!window.hcb_user) {
            hcb_user = {};
        }(function() {
            var s = document.createElement("script"),
                l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"),
                h = "https://www.htmlcommentbox.com";
            s.setAttribute("type", "text/javascript");
            s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%2447ipUA8n%2FvfvjRMuzpc77%2F" + "&opts=16862&num=10&ts=1556213103497");
            if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
        })(); /*-->*/
    </script>
    <!-- end www.htmlcommentbox.com -->
    <script>
        var script_el = document.createElement("script")
        script_el.src = 'SiteFolder/Js/ProjectTemplate.js'
        document.body.appendChild(script_el)
        // Main------------
        //var prev_height = window.innerHeight
        //var prev_width = window.innerWidth


        /*function ChangeOrientation(){
            

            if(prev_width!=window.innerWidth || prev_height!=window.innerHeight){
                console.log("change")
                prev_height=window.innerHeight
                prev_width=window.innerWidth

                align_burguer();
            }
            requestAnimationFrame(ChangeOrientation)
        }
        requestAnimationFrame(ChangeOrientation)*/
    </script>

</body>
</html>